.ornalogy {
  --ornalogyfont-family: 'Roboto', sans-serif;
}

.ornalogy__site__header {
  padding: .2rem 1rem;
}

.ornalogy__main {
  padding-bottom: 0;
}

.ornalogy__site__footer {
  font-size      : 80%;
  padding        : 1rem;
  flex-grow      : 1;
  gap            : .5rem;
  display        : flex;
  justify-content: end;
  align-items    : end;
}

.ornalogy__copyleft {
  gap    : .3rem;
  display: flex;
}

.ornalogy__copyleft::before {
  transform: rotateY(180deg);
  display  : inline-block;
  content  : '©';
}
