:root {
  --ornalogyfont-family                : Merriweather, Inter, sans-serif;
  --ornalogy-main-bg-color             : #262626;
  --ornalogy-bg-color-alpha            : #262626cc;
  --ornalogy-main-color                : #e7e7e7;
  --ornalogy-block-bg-color            : #1e1e1ecc;
  --ornalogy-block-border-color        : #1c1c1c;
  --ornalogy-popup-bg-color            : #262626cc;
  --ornalogy-border-color              : #333;
  --ornalogy-border-radius             : .4rem;
  --ornalogy-input-bg-color            : #1e1e1edd;
  --ornalogy-input-border-color        : #767676;
  --ornalogy-link-color                : #2196f3;
  --ornalogy-button-bg-color           : #1e1e1e;
  --ornalogy-button-active-color       : #b7b7b7;
  --ornalogy-button-active-border-color: #2e2e2e;
  --ornalogy-shadow-color              : 0 0 0;
  --ornalogy-shadow-color-r            : 128 128 128;
  --ornalogy-elevation-1r              : -1px -3px 1px -2px rgb(var(--ornalogy-shadow-color) / 0.2), 1px 1px 2px 0px rgb(var(--ornalogy-shadow-color-r) / 0.14), -1px -1px 5px 0px rgb(var(--ornalogy-shadow-color) / 0.12);
  --ornalogy-elevation-1               : 0px 3px 1px -2px rgb(var(--ornalogy-shadow-color) / 0.2), 0px 2px 2px 0px rgb(var(--ornalogy-shadow-color) / 0.14), 0px 1px 5px 0px rgb(var(--ornalogy-shadow-color) / 0.12);
  --ornalogy-elevation-2               : 0px 2px 4px -1px rgb(var(--ornalogy-shadow-color) / 0.2), 0px 4px 5px 0px rgb(var(--ornalogy-shadow-color) / 0.14), 0px 1px 10px 0px rgb(var(--ornalogy-shadow-color) / 0.12);
  --ornalogy-elevation-3               : 0px 5px 5px -3px rgb(var(--ornalogy-shadow-color) / 0.2), 0px 8px 10px 1px rgb(var(--ornalogy-shadow-color) / 0.14), 0px 3px 14px 2px rgb(var(--ornalogy-shadow-color) / 0.12);
  --ornalogy-elevation-4               : 0px 5px 5px -3px rgb(var(--ornalogy-shadow-color) / 0.2), 0px 8px 10px 1px rgb(var(--ornalogy-shadow-color) / 0.14), 0px 3px 14px 2px rgb(var(--ornalogy-shadow-color) / 0.12);
  --ornalogy-elevation-5               : 0px 8px 10px -6px rgb(var(--ornalogy-shadow-color) / 0.2), 0px 16px 24px 2px rgb(var(--ornalogy-shadow-color) / 0.14), 0px 6px 30px 5px rgb(var(--ornalogy-shadow-color) / 0.12);
  --ornalogy-base-padding              : .6rem .8rem;
  --ornalogy-lite-padding              : .4rem .6rem;
  --ornalogy-input-padding             : .4rem .6rem;
}

.ornalogy {
  line-height: 1.5;
  box-sizing : border-box;
  font-family: var(--ornalogyfont-family);
  color      : var(--ornalogy-main-color);
}

.ornalogy * {
  box-sizing: border-box;
}

.ornalogy a {
  color: var(--ornalogy-link-color);
}

.ornalogy input,
.ornalogy select,
.ornalogy textarea {
  font-size       : 1rem;
  border          : 1px solid;
  color           : var(--ornalogy-main-color);
  background-color: var(--ornalogy-input-bg-color);
  border-color    : var(--ornalogy-input-border-color);
  border-radius   : var(--ornalogy-border-radius);
  padding         : var(--ornalogy-input-padding);
}

.ornalogy button {
  min-height    : 1.2rem;
  line-height   : 1.2rem;
  font-size     : 1rem;
  border        : 1px solid;
  cursor        : pointer;
  letter-spacing: normal;
  text-transform: none;
  background    : var(--ornalogy-button-bg-color);
  color         : var(--ornalogy-main-color);
  border-color  : var(--ornalogy-border-color);
  box-shadow    : var(--ornalogy-elevation-1);
  border-radius : var(--ornalogy-border-radius);
  padding       : var(--ornalogy-base-padding);
}

.ornalogy button:hover {
  box-shadow: var(--ornalogy-elevation-2);
}

.ornalogy button:active {
  color       : var(--ornalogy-button-active-color);
  border-color: var(--ornalogy-button-active-border-color);
  box-shadow  : var(--ornalogy-elevation-1r);
}

.ornalogy__main {
  top             : 0;
  right           : 0;
  height          : 100%;
  width           : 100%;
  z-index         : 100;
  padding-bottom  : 6rem;
  position        : fixed;
  flex-direction  : column;
  overflow-y      : auto;
  background-color: var(--ornalogy-bg-color-alpha);
}

.ornalogy__section {
  gap           : .5rem;
  border        : 1px solid;
  display       : flex;
  flex-direction: column;
  align-items   : stretch;
  padding       : var(--ornalogy-lite-padding);
  margin        : var(--ornalogy-base-padding);
  border-radius : var(--ornalogy-border-radius);
  background    : var(--ornalogy-block-bg-color);
  border-color  : var(--ornalogy-block-border-color);
  box-shadow    : var(--ornalogy-elevation-1);
}

.ornalogy__popup {
  top            : 0;
  left           : 0;
  height         : 100%;
  width          : 100%;
  z-index        : 1000;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  position       : fixed;
  background     : var(--ornalogy-popup-bg-color);
}

.ornalogy__popup__content {
  margin        : 2rem;
  gap           : 1.5rem;
  padding       : 1.5rem 1.5rem 1rem 1.5rem;
  max-height    : 100%;
  border        : 1px solid;
  overflow-y    : auto;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  background    : var(--ornalogy-main-bg-color);
  border-color  : var(--ornalogy-border-color);
  border-radius : var(--ornalogy-border-radius);
  box-shadow    : var(--ornalogy-elevation-5);

}

.ornalogy__popup__title {
  max-width  : 100%;
  font-size  : 120%;
  text-align : center;
  word-wrap  : break-word;
  white-space: pre-wrap;
}

.ornalogy__popup__message {
  max-width  : 100%;
  text-align : center;
  word-wrap  : break-word;
  white-space: pre-wrap;
}

.ornalogy__popup__actions {
  gap    : .5rem;
  display: flex;
}

.ornalogy__popup__button {
  padding: var(--ornalogy-base-padding);
}
