#map {
  height: 100%;
}

.ornalogy__map_toolbar {
  display     : flex;
  top         : .5em;
  left        : 2.375em;
  margin-right: .5em;
  gap         : 1px;
  padding     : 1px;
}

.ornalogy__map_toolbar button {
  margin: 0px;
}

.ornalogy__map_toolbar_item {
  display    : flex;
  gap        : .2em;
  align-items: center;
}

.ol-touch .ornalogy__map_toolbar {
  left: 3.375em;
}

.ol-touch .ornalogy__map_toolbar span {
  font-size: 1.5em;
}
