#map {
  height: 100%;
}

.ornalogy__map_toolbar {
  display       : flex;
  flex-direction: column;
  top           : .5em;
  left          : 2.375em;
  right         : .5em;
  gap           : 1px;
  padding       : 1px;
}

.ornalogy__map_toolbar button {
  margin   : 0px;
  min-width: 1.375em;
}

.ornalogy__map_toolbar_row {
  display   : flex;
  overflow  : hidden;
  gap       : 1px;
  width     : 100%;
  min-height: 1.375em;
}

.ornalogy__map_toolbar_item {
  align-items: center;
  display    : flex;
  overflow   : hidden;
  white-space: nowrap;
  gap        : .2em;
  padding    : 0 .2em;
  width      : 100%;
}

.ornalogy__map_toolbar_item span {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

.ornalogy__map_toolbar_select {
  border    : none;
  background: none;
}

.ol-touch .ornalogy__map_toolbar {
  left: 3.375em;
}

.ol-touch .ornalogy__map_toolbar span {
  font-size: 1.5em;
}

.ol-touch .ornalogy__map_toolbar select {
  font-size : 1.4em;
  min-height: 1.375em;
}

.ornalogy__map_popup {
  position        : absolute;
  background-color: white;
  box-shadow      : 0 1px 4px rgba(0, 0, 0, 0.2);
  padding         : 16px;
  border-radius   : 10px;
  border          : 1px solid #cccccc;
  bottom          : 12px;
  left            : -50px;
  min-width       : 100px;
}

.ornalogy__map_popup:after,
.ornalogy__map_popup:before {
  top           : 100%;
  border        : solid transparent;
  content       : " ";
  height        : 0;
  width         : 0;
  position      : absolute;
  pointer-events: none;
}

.ornalogy__map_popup:after {
  border-top-color: white;
  border-width    : 10px;
  left            : 48px;
  margin-left     : -10px;
}

.ornalogy__map_popup:before {
  border-top-color: #cccccc;
  border-width    : 11px;
  left            : 48px;
  margin-left     : -11px;
}

.ornalogy__map_popup_closer {
  text-decoration: none;
  position       : absolute;
  top            : 6px;
  right          : 8px;
  cursor         : pointer;
}

.ornalogy__map_popup_closer:after {
  content: "✖";
}
